<h3>Diagnostic Codes</h3>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Import</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnostics.each do |diagnostic| %>
      <tr>
        <td><%= diagnostic.number %></td>
        <td><%= diagnostic.name %></td>
        <td><%= diagnostic.import %></td>
        <td><%= link_to 'Show', diagnostic %></td>
        <td><%= link_to 'Edit', edit_diagnostic_path(diagnostic) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diagnostic', new_diagnostic_path %>

