<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @diagnostic.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @diagnostic.name %>
</p>

<p>
  <strong>Import:</strong>
  <%= @diagnostic.import %>
</p>

<%= link_to 'Edit', edit_diagnostic_path(@diagnostic) %> |
<%= link_to 'Back', diagnostics_path %>
