<%= form_for(@dermatologist) do |f| %>
  <% if @dermatologist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dermatologist.errors.count, "error") %> prohibited this dermatologist from being saved:</h2>

      <ul>
      <% @dermatologist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
