<h3>Dermatologists</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>

           <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dermatologists.each do |dermatologist| %>
      <tr>
        <td><%= dermatologist.name %></td>
        <td><%= link_to 'Show', dermatologist %></td>
        <td><%= link_to 'Edit', edit_dermatologist_path(dermatologist) %></td>
          </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Dermatologist', new_dermatologist_path %>

<br>

</tr>

<br>

<%= link_to 'Diagnostic Code Link', 'http://www.dermadvocate.net/library/articles/dermatology-icd-9-codes-new' %>
<br>
<td>
  <br>

</td>
<%= link_to 'Diagnostic Codes', diagnostics_path %>