<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dermatologist.name %>
</p>


<%= link_to 'Edit', edit_dermatologist_path(@dermatologist) %> |
<%= link_to 'Back', dermatologists_path %>
