<h2>Invoices</h2>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Patient Name        </th>
      <th>Amount   </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.number %></td>
        <td><%= invoice.patient_id %></td>
        <td><%= invoice.amount %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
