<h3>  Welcome to Dermatologists R Us !</h3>

<br>


<h4> If you are a new patient please click the link below </h4>
  <br>




<table>
  <thead>
    <tr>
         <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>



      <tr>

         </tr>

  </tbody>


</table>

<br>

 <%= link_to 'Patient', new_patient_path %>
  </tbody>


  <br>

  <h4> To cancel and appointment click here </h4>

<td><%= link_to 'Appointments',  appointments_path  %></td>



