<%= form_for(@appointment_status) do |f| %>
  <% if @appointment_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment_status.errors.count, "error") %> prohibited this appointment_status from being saved:</h2>

      <ul>
      <% @appointment_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appointment_status_id %><br>
    <%= f.number_field :appointment_status_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
