<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment status:</strong>
  <%= @appointment_status.appointment_status_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @appointment_status.name %>
</p>

<%= link_to 'Edit', edit_appointment_status_path(@appointment_status) %> |
<%= link_to 'Back', appointment_statuses_path %>
