<h3> Patients </h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Reason</th>
      <th>Appointment Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.phone %></td>
        <td><%= patient.reason %></td>
        <td><%= patient.appointment_date %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
