<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Patient</th>
      <th>Dermatologist</th>
      <th>Diagnostic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.invoice_id %></td>
        <td><%= worker.patient_id %></td>
        <td><%= worker.dermatologist %></td>
        <td><%= worker.diagnostic %></td>
        <td><%= link_to 'Show', worker %></td>
        <td><%= link_to 'Edit', edit_worker_path(worker) %></td>
        <td><%= link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worker', new_worker_path %>
