<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice:</strong>
  <%= @worker.invoice_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @worker.patient_id %>
</p>

<p>
  <strong>Dermatologist:</strong>
  <%= @worker.dermatologist %>
</p>

<p>
  <strong>Diagnostic:</strong>
  <%= @worker.diagnostic %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
