<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.collection_select :patient_id, Patient.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_area :reason %>
  </div>
  <div class="field">
    <%= f.label :dermatologist_id %><br>
    <%= f.collection_select :dermatologist_id, Dermatologist.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :appointment_date %><br>
    <%= f.datetime_select :appointment_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
