<h1>Appointments</h1>

<table>
  <thead>
    <tr>

      <th>Patient</th>
      <th>Reason</th>
      <th>Dermatologist</th>
      <th>Appointment date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.reason %></td>
        <td><%= appointment.dermatologist.name %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
