<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Dermatologists R Us <%= yield (:title) || "Welcome to Dermatologists R Us" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :head %>
  <%= # noinspection RailsParamDefResolve
      javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
